- set_meta_tags  title: '資料ダウンロード'
- set_meta_tags  description: ''

.tops-wrapper
 h2.headline 下記より資料がダウンロード出来ます。

p.center
  = link_to "エクステリアガーデン資料ダウンロード開始", "/uploads/downloads/exterior.pdf", class:"btn btn-success"
br
br
p
